/* hide number increase decrease button */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.inventory-container {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 1rem;
  border-radius: 0.3rem;
  width: 30%;
  margin: 10rem auto;
}

.inventory-container form {
  margin-left: 3rem;
}

.add-btn {
  width: 35%;
  margin: 0 auto;
}

@media screen and (max-width: 490px) {
  .inventory-container {
    margin: 1rem auto;
    width: 90%;
  }
  .inventory-container form {
    margin-left: 1rem;
  }
  .add-btn {
    width: 45%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 776px) {
  .inventory-container {
    margin: 3.5rem auto;
    width: 60%;
  }
}

@media screen and (min-width: 992px) {
  .inventory-container {
    margin: 2rem auto;
    width: 30%;
  }
}
