.header {
  padding: 1rem 2rem;
}

.header.active {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: saturate(180%) blur(5px);
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  transition: all 0.3s ease-in-out;
  box-shadow: rgb(0 0 0 / 16%) 0px 3px 30px;
  z-index: 899 !important;
}

.title {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  font-weight: 600;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem !important;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.toggle {
  border: none !important;
  color: black !important;
}
.navbar-toggler:focus {
  outline: none !important;
}

.navbar-toggler {
  outline: none;
}

.nav-icon {
  font-size: 2rem;
}

.btn {
  color: #fff !important;
  text-decoration: none !important;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
/* 
.btn.btn-primary {
  background: var(--primary);
  color: #fff !important;
  border-color: var(--primary);
}
.btn.btn-dark {
  background: #434141;
  color: #fff;
  border-color: #434141;
} */

.nav-item {
  display: flex;
  align-items: center;
  font-weight: 500;
  color: var(--default);
}

.user img {
  width: 50% !important;
  padding-right: 5px;
}

@media screen and (max-width: 490px) {
  .header {
    padding: 1.3rem 1rem !important;
  }
  .title {
    display: block;
    font-size: 1.3rem;
  }
  .link {
    font-size: 1rem;
  }
}
@media screen and (min-width: 776px) {
  .header {
    padding: 1.2rem 1rem !important;
  }
  .title {
    display: block;
  }
  .link {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 992px) {
  .header {
    width: 100%;
    padding: 0.6rem 1rem !important;
  }
  .link {
    font-size: 1.2rem;
  }
  #basic-navbar-nav {
    margin-left: 30%;
  }
  .title {
    margin-left: 6.5rem;
  }
}
