.inventories-container {
  min-height: 100vh;
}

.inventories {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin: 0 auto;
  margin-bottom: 10rem;
}

@media screen and (max-width: 490px) {
  .inventories {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }
}

@media screen and (min-width: 776px) {
  .inventories {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .inventories {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
  }
}
