.section-title {
  font-size: 24px;
  text-align: center;
  margin: 50px;
  color: #3a3a3a;
}

#contact {
  margin-bottom: 4rem;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
}

.contact-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contact-left img {
  width: 80%;
}

.contact-right form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-field {
  width: 60%;
  margin: 10px 0;
  padding: 10px;
  font-size: 18px;
  font-family: inherit;
  outline: 0;
  border-radius: 5px;
  border: 1px solid gray;
}

.text-field:hover {
  border: 1px solid red;
}

.submit {
  outline: 0;
  border: 0;
  padding: 10px 35px;
  font-weight: 600;
  color: #fff;
  font-size: 12px;
  border-radius: 0.5rem;
  cursor: pointer;
  top: 0;
  font-size: 15px;
}

.submit:hover {
  background-color: #fff;
  border: 2px solid red;
  color: #000 !important;
}

.section-title h2::after {
  background-color: #242424;
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  width: 59px;
  margin: 0 auto;
}

.section-title h2 {
  color: #222;
  font-size: 28px;
  font-weight: 700;
  padding-bottom: 20px;
  position: relative;
  text-transform: capitalize;
  z-index: 2;
  margin: 0;
  margin-bottom: 30px;
}
.section-title h2::before {
  background-color: #242424;
  bottom: 6px;
  content: "";
  height: 1px;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  width: 99px;
  margin: 0 auto;
}

@media only screen and (max-width: 490px) {
  .contact-left img {
    width: 100%;
  }
  .banner-left,
  .submit {
    text-align: center;
    margin: 0 auto;
  }
  .submit {
    padding: 15px 40px;
  }
  .contact {
    width: 90%;
    display: block;
    margin: 0 auto;
    grid-template-columns: 1fr;
  }
  .section-title h2 {
    font-size: 18px;
  }
  .text-field{
    width: 90%;
  }
}
