.del-btn {
  background-color: #ff0000 !important;
  margin-right: 10px;
}
.edit-btn {
  background-color: #40c740 !important;
  border: none;
  height: 2.9rem;
  border-radius: 0.2rem;
}

.update-btn{
  margin-left: 10px;
  font-size: 1rem;
  padding: .5rem;
  background-color: #0cc9eb !important;
  border: none;
  height: 2.9rem;
  border-radius: 0.2rem;
}