.image-card img {
  border-radius: 0.5rem;
  max-height: 550px;
  width: 80%;
  object-fit: cover;
}

.card-inventory {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  align-items: center;
  padding: 10px;
  border-radius: .5rem;
  box-shadow: rgb(0 0 0 / 16%) 0px 3px 30px;
}

.more-btn2 {
  width: 20%;
}

.info-card {
  line-height: 2.5rem;
}

@media screen and (max-width: 490px) {
  .updated {
    width: 100%;
  }
  .card-inventory {
    grid-template-columns: repeat(1, 1fr);
  }
  .input {
    width: 100% !important;
    margin: 0 auto;
  }
  .image-card img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-height: 350px;
  }
  .more-btn2 {
    width: 45%;
  }
}
@media screen and (min-width: 768px) {
  .updated {
    width: 100%;
  }
  .image-card img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-height: 500px;
  }
  .more-btn2 {
    width: 25%;
  }
}
@media screen and (min-width: 992px) {
  .updated {
    width: 65%;
  }
  .image-card img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-height: 535px;
  }
  .more-btn2 {
    width: 20%;
  }
}
