.home-carousel {
  position: relative;
}

.featured h1 {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 5rem;
  color: #222;
  font-size: 28px;
  font-weight: 700;
  padding-bottom: 20px;
  position: relative;
  text-transform: capitalize;
  z-index: 2;
}

.featured h1::after {
  background-color: #242424;
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 59px;
}
.featured h1::before {
  background-color: #242424;
  bottom: 6px;
  content: "";
  height: 1px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 99px;
}

.car-img {
  width: 100%;
  object-fit: cover;
}

.car-img img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}

.home-info h1 {
  text-transform: uppercase;
}

.name {
  color: #1e90c2;
}

.explore-btn {
  text-decoration: none;
  border: 1px solid #1e90c2;
  padding: 20px 20px;
  border-radius: 0.5rem;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
}

.explore-btn:hover {
  border: none;
  background: #1e90c2;
  background: linear-gradient(25deg, #1e90c2 0%, #1b4388 100%);
  color: #fff;
}

.carousel-item:nth-child(1) img {
  background-image: url("../../../Assets/banner-1.jpg");
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.carousel-item:nth-child(2) img {
  background-image: url("../../../Assets/banner-2.jpg");
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.carousel-item:nth-child(3) img {
  background-image: url("../../../Assets/banner-3.jpg");
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.carousel-item:nth-child(3) img {
  background-image: url("../../../Assets/banner-4.jpg");
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

@media screen and (max-width: 490px) {
  .carousel-item:nth-child(1) img,
  .carousel-item:nth-child(2) img,
  .carousel-item:nth-child(3) img,
  .carousel-item:nth-child(4) img {
    height: 680px;
  }
}

@media screen and (min-width: 776px) {
}

@media screen and (min-width: 992px) {
}
