.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin: 1rem 300px;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;

  
  /* background-color: #ffffff;
  background-image: url("../../../Assets/car.jpg");
  background-attachment: fixed;
  background-size: cover; */
}

.featured h1{
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 6rem;
}

.featured h1::after {
  background-color: #242424;
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  width: 59px;
}

.car-img {
  width: 100%;
  object-fit: cover;
}

.car-img img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}

.home-info h1 {
  text-transform: uppercase;
}

.name {
  color: #1e90c2;
}

.explore-btn {
  text-decoration: none;
  border: 1px solid #1e90c2;
  padding: 20px 20px;
  border-radius: 0.5rem;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
}

.explore-btn:hover {
  border: none;
  background: #1e90c2;
  background: linear-gradient(25deg, #1e90c2 0%, #1b4388 100%);
  color: #fff;
}

@media screen and (max-width: 490px) {
  .home {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
    margin: 1rem auto;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
  }
  .tour-img {
    width: 100%;
    object-fit: cover;
  }

  .tour-img img {
    width: 100%;
  }

  .home-info h1 {
    font-size: 22px;
  }

  .reverse {
    order: 2;
  }
}

@media screen and (min-width: 776px) {
  .home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin: 2rem auto;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
  }
  .tour-img {
    width: 110%;
    object-fit: cover;
  }

  .tour-img img {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin: 2rem auto;
    width: 65%;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
  }

  .tour-img {
    width: 100%;
    object-fit: cover;
  }

  .tour-img img {
    width: 100%;
    height: 100%;
  }
}
