@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --default: #000;
  --primary: #3f90fc;
  --yellow: #ffbd3e;
  --orange: #ff7044;
  --blue: #421fcf;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  color: var(--default);
  position: relative;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
